<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>修改密码</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="/resources/layui/css/layui.css" media="all" />
	<link rel="stylesheet" href="/resources/css/public.css" media="all" />
</head>
<body class="childrenBody">
<form class="layui-form layui-row changePwd">
	<div class="layui-col-xs12 layui-col-sm6 layui-col-md6">
		<div class="layui-input-block layui-red pwdTips">旧密码默认为“123456”</div>
		<div class="layui-form-item">
			<label class="layui-form-label">用户名</label>
			<div class="layui-input-block">
				<input type="text" disabled class="layui-input layui-disabled">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">旧密码</label>
			<div class="layui-input-block">
				<input type="password" value="" id="oldPwd" name="oldPwd" placeholder="请输入旧密码" lay-verify="required|oldPwd" class="layui-input pwd">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">新密码</label>
			<div class="layui-input-block">
				<input type="password" value="" name="pwd" placeholder="请输入新密码" lay-verify="required|newPwd" id="Pwd" class="layui-input pwd">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">确认密码</label>
			<div class="layui-input-block">
				<input type="password" value="" name="newPwd" placeholder="请确认密码" lay-verify="required|confirmPwd" class="layui-input pwd">
			</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-input-block">
				<button class="layui-btn" lay-submit="" lay-filter="changePwd">立即修改</button>
				<button type="reset" class="layui-btn layui-btn-primary">重置</button>
			</div>
		</div>
	</div>
</form>
<script type="text/javascript" src="/resources/layui/layui.js"></script>
<script>
	layui.use(["jquery","layer","form"],function () {
		var $ = layui.jquery;
		var layer = layui.layer;
		var form  = layui.form;
		//验证规则
		form.verify({
			//value:表单的值,item:表单的dom对象
			newPwd:function (value,item) {
				if(value.length<6){
					return "密码长度不能小于6"
				}
			},
			confirmPwd:function (value,item) {
				if(!new RegExp($("#Pwd").val()).test(value)){
					return "两次密码输入不一致,请重新输入"
				}
			}
		})
		//监听提交事件，修改密码
		form.on("submit(changePwd)",function (data) {
			$.ajax({
				//验证旧密码
				url:"/user/queryUserByPwd?pwd="+$("#oldPwd").val(),
				method:"post",
				async:false, //同步
				success:function (obj) {
					if(obj.code<0){
						layer.msg("旧密码不正确",{icon:5});
						$("#oldPwd").focus(); //让旧密码得到焦点
					}else{
						//修改密码
						$.post("/user/changePwd?pwd",{pwd:$("#Pwd").val()},function (result) {
							layer.msg(result.msg);
						})
					}
				}
			})
			return false;
		})
	})
</script>
</body>
</html>