<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sxt.sys.mapper.DeptMapper" >
  <resultMap id="BaseResultMap" type="com.sxt.sys.domain.Dept" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="pid" property="pid" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="open" property="open" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="loc" property="loc" jdbcType="VARCHAR" />
    <result column="available" property="available" jdbcType="INTEGER" />
    <result column="ordernum" property="ordernum" jdbcType="INTEGER" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, pid, name, open, remark, loc, available, ordernum, createtime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_dept
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_dept
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sxt.sys.domain.Dept" >
    insert into sys_dept (id, pid, name, 
      open, remark, loc, 
      available, ordernum, createtime
      )
    values (#{id,jdbcType=INTEGER}, #{pid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{open,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{loc,jdbcType=VARCHAR}, 
      #{available,jdbcType=INTEGER}, #{ordernum,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sxt.sys.domain.Dept" >
    insert into sys_dept
    <trim prefix="(" suffix=")" suffixOverrides="," >

      <if test="pid != null" >
        pid,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="open != null" >
        open,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="loc != null" >
        loc,
      </if>
      <if test="available != null" >
        available,
      </if>
      <if test="ordernum != null" >
        ordernum,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >

      <if test="pid != null" >
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="open != null" >
        #{open,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="loc != null" >
        #{loc,jdbcType=VARCHAR},
      </if>
      <if test="available != null" >
        #{available,jdbcType=INTEGER},
      </if>
      <if test="ordernum != null" >
        #{ordernum,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sxt.sys.domain.Dept" >
    update sys_dept
    <set >
      <if test="pid != null" >
        pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="open != null" >
        open = #{open,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="loc != null" >
        loc = #{loc,jdbcType=VARCHAR},
      </if>
      <if test="available != null" >
        available = #{available,jdbcType=INTEGER},
      </if>
      <if test="ordernum != null" >
        ordernum = #{ordernum,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sxt.sys.domain.Dept" >
    update sys_dept
    set pid = #{pid,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      open = #{open,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      loc = #{loc,jdbcType=VARCHAR},
      available = #{available,jdbcType=INTEGER},
      ordernum = #{ordernum,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!-- 查询部门 -->
  <select id="queryAllDept" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
     from sys_dept
     <where>
       <if test="name!=null and name!=''">
         and name like "%"#{name}"%"
       </if>
       <if test="remark!=null and remark!=''">
          and remark like "%"#{remark}"%"
       </if>
       <if test="loc!=null and loc!=''">
         and loc = like "%"#{loc}"%"
       </if>
       <if test="id!=null">
         and (id = #{id} or pid = #{id})
       </if>
     </where>
     order by ordernum asc
  </select>
  <select id="queryMaxOrderNum" resultType="java.lang.Integer">
    select max(ordernum) from sys_dept
  </select>

  <select id="checkDeptChildrenNum" resultType="java.lang.Integer">
    select count(0) from sys_dept where pid = #{value }
  </select>
</mapper>